.footer{

    font-family: 'Courier New', Courier, monospace;
    
    font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        background-color: #c9c8c8;
        color: rgb(0, 0, 0);
       
        left: 0;
        bottom: 0;
        width: 100%;
    
    

    





font-size: 20px;
width: 100%;
margin: auto;
}