.navbar .nav-link {
  color: #0b0b0b !important;
  font-size: larger;
}
.navigation{
   
  font-size: 15px;
  height: 60px;
  background-color: #dbdbdb;
      font-family:'Courier New', Courier, monospace;
      


   
}
